<!-- Start Footer -->
<footer class="bg-dark pt-2" id="tempaltemo_footer">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-3">
				<a href="{{path("home")}}"><img class="img-fluid logo" src="./assets/img/20220504_082014.jpg" alt="logo du site" width="75px" height="80px"></i>
			</a>
			<ul class="list-unstyled text-light footer-link-list">
				<li>
					<i class="fas fa-map-marker-alt fa-fw"></i>
					123 Avenue de Symfony 75000 Paris
				</li>
				<li>
					<i class="fa fa-phone fa-fw"></i>
					<a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
				</li>
				<li>
					<i class="fa fa-envelope fa-fw"></i>
					<a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
				</li>
			</ul>
		</div>

		<div class="col-md-3">
			<h2 class="h5 text-light border-bottom  border-light">Ma commande en ligne</h2>
			<ul class="list-unstyled text-light footer-link-list">
				<li>
					<a class="text-decoration-none" href="#">Mon compte</a>
				</li>
				<li>
					<a class="text-decoration-none" href="#">Ma commande</a>
				</li>
				<li>
					<a class="text-decoration-none" href="#">Ma livraison</a>
				</li>
				<li>
					<a class="text-decoration-none" href="#">Mon retour</a>
				</li>

				<li>
					<a class="text-decoration-none" href="#">Wish List</a>
				</li>

			</ul>
		</div>

		<div class="col-md-3">
			<h2 class="h5 text-light border-bottom border-light">Service client</h2>
			<ul class="list-unstyled text-light footer-link-list">
				<li>
					<a class="text-decoration-none" href="{{ path('customer_condition_show',{'nom':'Conditions générales de ventes'}) }}">Conditions générales de vente</a>
				</li>
				<li>
					<a class="text-decoration-none" href="{{ path('customer_condition_show',{'nom':'Retour & Remboursement'}) }}">Retour et remboursement</a>
				</li>

				<li>
					<a class="text-decoration-none" href="#">FAQs</a>
				</li>
				<li>
					<a class="text-decoration-none" href="{{ path('contact') }}">Contact</a>
				</li>

			</ul>
		</div>

		<div class="col-md-3">
			<h2 class="h5 text-light border-bottom border-light">A propos</h2>
			<ul class="list-unstyled text-light footer-link-list">
				<li>
					<a class="text-decoration-none" href="#">Gestions des cookies</a>
				</li>
				<li>
					<a class="text-decoration-none" href="{{ path('customer_condition_show',{'nom':'Mentions Légales'}) }}">Mentions légales</a>
				</li>
				<li>
					<a class="text-decoration-none" href="#">Plan du site</a>
				</li>
				<li>
					<a class="text-decoration-none" href="{{ path('customer_condition_show',{'nom':'Protections des données'}) }}">Protections des données</a>
				</li>
			</ul>
		</div>
		<div class="row text-light">

			<div class="col-auto me-auto">
				<ul class="list-inline text-left footer-icons">
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/">
							<i class="fab fa-facebook-f fa-lg fa-fw"></i>
						</a>
					</li>
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/">
							<i class="fab fa-instagram fa-lg fa-fw"></i>
						</a>
					</li>
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/">
							<i class="fab fa-twitter fa-lg fa-fw"></i>
						</a>
					</li>
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/">
							<i class="fab fa-linkedin fa-lg fa-fw"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-auto">
				<label class="sr-only" for="subscribeEmail">Email address</label>
				<div class="input-group mb-2">
					<input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
					<div class="input-group-text btn-success text-light">Subscribe</div>
				</div>
			</div>
		</div>
		<div class="w-100">
			<div class="row">
				<div class="col-12">
					<p class="text-center text-light">
						Copyright &copy; 2022 R&M-Company
																																																													| Designed by Ronald Medaus
					</p>
				</div>
			</div>
		</div>
	</div>
</div></footer><!-- End Footer -->
