<!-- Header -->

<nav class="navbar navbar-expand-lg navbar-light shadow colorBgNav">


	<div class="container d-flex justify-content-between align-items-center">

		<a class="navbar-brand text-success logo h1 align-self-center colorViolet" href="{{path("home")}}">FFR</a>

		<button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
			<div class="flex-fill">
				<ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">

					{% if app.user %}

						{% if app.user.roles[0] is same as "ROLE_ADMIN" %}


							<li class="nav-item">
								<a class="nav-link" href="{{ path("admin_home")}}">Administration</a>
							</li>

						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path("app_logout")}}">Se deconnecter</a>
						</li>


					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path("app_login")}}">Se connecter</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register')}}">S'inscrire</a>
						</li>

					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('home')}}">Accueil</a>
					</li>

					{% for category in categoryRepository.findAll() %}

						<li class="nav-item">
							<a class="nav-link" href="{{ path('boutique_product_show_by_category',{'id':category.id}) }}">
								{{category.name}}

								<a></li>
							{% endfor %}
						</li>
						<li class="nav-item"></li>


					</ul>
				</div>
				<div class="navbar align-self-center d-flex">
					<div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
						<div class="input-group">
							<input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
							<div class="input-group-text">
								<i class="fa fa-fw fa-search"></i>
							</div>
						</div>
					</div>
					<a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
						<a class="nav-link" aria-current="page" href="{{ path('blog_post_list') }}">Blog</a>
					</a>
					<a class="nav-icon position-relative text-decoration-none" href="{{ path('cart_detail')}}">
						<i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
						<!-- <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span> -->

					</a>
					<a class="nav-icon position-relative text-decoration-none" href="{{ path('profile_detail')}}">
						<i class="fa fa-fw fa-user text-dark mr-3"></i>
						<!-- <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span> -->
					</a>
				</div>
			</div>

		</div>
	</nav>

	<!-- 2ème Navbar  -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{path("home")}}">FFR</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					{% if app.user %}

						{% if app.user.roles[0] is same as "ROLE_ADMIN" %}

							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{ path("admin_home")}}">Administration</a>
							</li>
						{% endif %}

						<li class="nav-item">
							<a class="nav-link" href="{{ path("app_logout")}}">Se deconnecter</a>
						</li>

					{% else %}
						<li class="nav-item">
							<a class="nav-link" href=""></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href=""></a>
						</li>

						<a href="{{ path("app_login")}}" class="btn btn-primary btn-lg" tabindex="-1" role="button">Se connecter</a>
						<a href="{{ path("app_register")}}" class="btn btn-secondary btn-lg" tabindex="-1" role="button">S'inscrire</a>
					{% endif %}

					<li class="nav-item">
						<a class="nav-link" href="{{ path('home')}}">Accueil</a>
					</li>


					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Catégories
						</a>

						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for category in categoryRepository.findAll() %}
								<li>
									<a class="dropdown-item" href="{{ path('boutique_product_show_by_category',{'id':category.id}) }}">{{category.name}}</a>
								</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
			</div>
			<a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
				<a class="nav-link" aria-current="page" href="{{ path('blog_post_list') }}">Blog</a>
			</a>
			<a class="nav-icon position-relative text-decoration-none" href="{{ path('cart_detail')}}">
				<i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
				<!-- <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span> -->

			</a>
			<a class="nav-icon position-relative text-decoration-none" href="{{ path('profile_detail')}}">
				<i class="fa fa-fw fa-user text-dark mr-3"></i>
				<!-- <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span> -->
			</a>
		</div>
	</nav><!-- fin  2ème Navbar -->
	<!-- 3ème Navbar  -->
