{% extends 'base.html.twig' %}

{% block title %}S'enregistrer
{% endblock %}

{% block body %}
	<div class="container py-3" style="margin-top: 100px; margin-bottom: 100px">
		<div class="row">
			<div class="col-12 mt-1">

				<h1>S'enregistrer</h1>

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.name) }}
				{{ form_row(registrationForm.telephone) }}
				{{ form_row(registrationForm.adresse) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword.first) }}
				{{ form_row(registrationForm.plainPassword.second) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn btn-success btn-xs">S'inscrire</button>
				{{ form_end(registrationForm) }}
			</div>
<<<<<<< HEAD

			<div class="typeRegisterContraint pt-3 row">
=======
				<div class="typeRegisterContraint pt-3 row">
>>>>>>> 4c38c37bb4115d4222dc80a9bf6972485b837766

					<p class="fw-lighter text-medium-grey col-4" id='contraintLength'>
						<i class="fa-solid fa-circle-check pe-2 fw-lighter"></i>8 Caractères minimum</p>
					<p class="fw-lighter text-medium-grey col-4" id='contraintMajuscule'>
						<i class="fa-regular fa-circle-check pe-2"></i>Au moins une lettre majuscule</p>
					<p class="fw-lighter text-medium-grey col-4" id='contraintChiffre'>
						<i class="fa-regular fa-circle-check pe-2"></i>Au moins un chiffre</p>

<<<<<<< HEAD
				 <p class="fw-lighter text-medium-grey " id='contraintSpecial'></p> 
			</div>
=======
					<p class="fw-lighter text-medium-grey " id='contraintSpecial'></p> 
				</div>
>>>>>>> 4c38c37bb4115d4222dc80a9bf6972485b837766
		</div>

<script>
		const inputPassword = document.getElementById('registration_form_plainPassword_first');
		const contraintLength = document.getElementById('contraintLength');
		const contraintChiffre = document.getElementById('contraintChiffre');
		const contraintMajuscule = document.getElementById('contraintMajuscule');
		const contraintMinuscule = document.getElementById('contraintMinuscule');

		const checkLength = (item) => {
			if (item >= 8 && item <= 40) {
				contraintLength.classList.add('textGreen');
			} else {
				contraintLength.classList.remove('textGreen');
			}
		};

		const checkMajuscule = (item) => {
			if (item.match(new RegExp("[A-Z]"))) {
				contraintMajuscule.classList.add('textGreen');
			} else {
				contraintMajuscule.classList.remove('textGreen');
			}
		};

		inputPassword.addEventListener('keyup', () => {
			console.log('Hello');
		});


		const checkChiffre = (item) => {
			if (item.match(new RegExp("[0-9]"))) {
				contraintChiffre.classList.add('textGreen');
			} else {
				contraintChiffre.classList.remove('textGreen');
			}
		};

		const checkMinuscule = (item) => {
			if (item.match(new RegExp("[a-z]"))) {
				contraintMinuscule.classList.add('textGreen');
			} else {
				contraintMinuscule.classList.remove('textGreen');
			}
		};
		
		inputPassword.addEventListener('keyup', () => {
			let actualLength = inputPassword.value.length;
			//console.log(actualLength);
			checkLength(actualLength);

			let inputValue = inputPassword.value;
			checkMajuscule(inputValue);
			checkChiffre(inputValue);
			checkMinuscule(inputValue);
		});
		
	</script>
		

{% endblock %}
