{% extends 'base.html.twig' %}

{% block title %}S'enregistrer
{% endblock %}

{% block body %}
	<div class="container py-3" style="margin-top: 100px; margin-bottom: 100px">
		<div class="row">
			<div class="col-12 mt-1">

				<h1>S'enregistrer</h1>

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.name) }}
				{{ form_row(registrationForm.telephone) }}
				{{ form_row(registrationForm.adresse) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword.first) }}
				{{ form_row(registrationForm.plainPassword.second) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn btn-success btn-xs">S'inscrire</button>
				{{ form_end(registrationForm) }}
			</div>
			<!--<div class="typeRegisterContraint pt-3 row">

				<p class="fw-lighter text-medium-grey col-4" id='contraintLength'>
					<i class="fa-solid fa-circle-check pe-2 fw-lighter"></i>8 Caractères minimum</p>
				<p class="fw-lighter text-medium-grey col-4" id='contraintMajuscule'>
					<i class="fa-regular fa-circle-check pe-2"></i>Au moins une lettre majuscule</p>
				<p class="fw-lighter text-medium-grey col-4" id='contraintChiffre'>
					<i class="fa-regular fa-circle-check pe-2"></i>Au moins un chiffre</p>

				 <p class="fw-lighter text-medium-grey " id='contraintSpecial'></p> 
			</div>-->
		</div>


		

{% endblock %}
