{% extends "base.html.twig" %}

{% block body %}

	<section>
		<div class="container" style="margin-top: 100px; margin-bottom: 100px">
			<div class="row">
				{% include "_messages_flash.html.twig" %}

				<div class="col-sm-12 col-md-4">
					<div class="card">
						<img src="{{ product.imagePath }}" class="card-img-top imageDetailProduct" alt="image_category">
					</div>
				</div>

				<div class="col-sm-12 col-md-8">

					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
							<p>{{ product.price | priceEuro }}</p>
							<div class="row justify-content-end">
								<a href="{{ path('cart_add',{ 'id' : product.id } ) }}" class="btn btn-success btn-sm col-md-4 mx-3">
									<span class="btn-label btn-sm">
										<i class="fa fa-plus"></i>
									</span>Ajouter au panier</a>

							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

	</section>

	<section>
		<div class="container py-5">
			<div class="row">
				<div class="col-12">
					<h3 class="text-center">D'autres produits</h3>
					<hr>
				</div>

				{% for product in suggestedProducts %}

					<div class="col-sm-12 col-md-6 col-lg-3 mt-3">

						<div class="card">
							<img src="{{ product.imagePath }}" class="card-img-top imageCard" alt="image_category">
							<div class="card-body">
								<h5 class="card-title">{{ product.name }}</h5>
								<p class="card-title">{{ product.price | priceEuro }}</p>
								<a href="{{ path('boutique_product_detail',{'id': product.id} ) }}" class="btn btn-primary w-100 card-title">Consulter</a>
							</div>
						</div>

					</div>

				{% endfor %}

			</div>
		</div>
	</section>

{% endblock %}
