{% extends "base.html.twig" %}

{% block body %}
<div class="container" style="margin-top: 100px; margin-bottom: 100px">

    <div class="row">
     {% include "_messages_flash.html.twig" %}
        <div class="col-sm-12 col-md-6">
            <a href="{{ path('profile_image_edit') }}">
            <div class="card">
    
                <img 
                {% if  (app.user.imagePath is same as null) or (app.user.imagePath is same as "") %}
                    src="https://cdn-images.farfetch-contents.com/13/51/26/01/13512601_21418655_1000.jpg"         
                {% else %}
                 src="{{ app.user.imagePath }}"      
             {% endif %}
                
                class="card-img-top imageCard" alt="image_category">
            </div>
            </a>
            <div class="card mt-3">
                <div class="card-header">
                    <h5>Infos persos</h5>
                </div>
                <div class="card-body">
                    <p>{{ app.user.name }}</p>
                    <p>{{ app.user.adresse }}</p>
                    <p>{{ app.user.email }}</p>
                     <p>{{ app.user.telephone }}</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Configuration</h5>
                </div>
                <div class="card-body">
                    <a href="{{ path('profile_purchase_list')  }}" class="btn btn-info w-100 mt-2">Mes commandes</a>
                    <a href="{{ path('profile_image_edit') }}" class="btn btn-info w-100 mt-2">Modifier ma photo de profil</a>
                    <a href="{{ path('profile_edit_info') }}" class="btn btn-info w-100 mt-2">Modifier mes infos persos</a>
                    <a href="{{ path('profile_edit_password') }}" class="btn btn-info w-100 mt-2">Changer mon mot de passe</a>
                    <a href="{{ path('profile_contact_support') }}" class="btn btn-info w-100 mt-2">Contacter le support</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}