{% extends 'admin/base.html.twig' %}

{% block title %}Condition Edit
{% endblock %}

{% block body %}
	<div class="container py-5">

		<div class="row">
			{% include "_messages_flash.html.twig" %}
			<div class="col-12 ">

				<a class="btn btn-dark" href="{{ path('admin_footer') }}">Revenir à la liste</a>
			</div>

			<div class="col-sm-12 mt-3">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Edition de document</h5>
					</div>
					{#<div class="card-body">
																					{{ form_start(form) }}
																					{{ form_row(form.title) }} <!--<ou {{ form_widget(form.title) }}  >-->
																					<button class="btn btn-primary mt-3" type="submit">Enregistrer</button>
															
																					{{ form_end(form, {render_rest: false}) }}
																				</div>#}

					<div class="card-body">
						{{ form_start(form) }}
						<p class="mb-1">{{ form_row(form.title) }}</p>
						<p class="mb-1">{{ form_row(form.content) }}</p>
						{#<!--<p class="mb-1">{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</p>-->#}
						<button class="btn btn-primary mt-3" type="submit">Enregistrer</button>
						{{ form_end(form) }}
					</div>
				</div>
			</div>

		</div>
	</div>

{% endblock %}
