{% extends "base.html.twig" %}

{% block body %}

	<section>
		<div class="container py-5">
			<div class="row">
				<div class="col-12 mb-3">
					<h3 class="text-center">Valider votre commande</h3>
				</div>

				{% include "_messages_flash.html.twig" %}
				<div class="col-sm-12 col-md-6">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">Recapitulatif des produits</h5>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Produit</th>
									<th scope="col">Prix Unitaire</th>
									<th scope="col">Quantité</th>
									<th scope="col">Total</th>
								</tr>
							</thead>
							<tbody>
								{% for item in detailProducts %}
									<tr>
										<th>
											<div class="d-flex align-items-center">
												<img src="{{ item.product.imagePath }}" alt="" style="height:80px;object-fit:contain;">
												<div class=" d-flex flex-column align-items-center px-3">
													<p>{{ item.product.name }}</p>
												</div>
											</div>
										</th>
										<td>{{ item.product.price | priceEuro }}</td>
										<td>
											<a>{{ item.qty }}</a>
										</td>
										<td>{{ item.total | priceEuro }}</td>
									</tr>
								{% endfor %}
								<tr>
									<th colspan="2"></th>
									<th>
										<p>
											<strong>Sous tolal</strong>
										</p>
									</th>
									<th>
										<p>
											<strong>{{ totalPrixPanier | priceEuro }}</strong>
										</p>
									</th>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="card">

						<div class="card-header">
							<h5 class="card-title">ajouter votre adresse de livraison</h5>
						</div>
						<div class="card-body">
							{{ form_start(form) }}
							{{ form_widget(form) }}
							<button class="btn btn-success mt-3" type="submit">Finaliser ma commande</button>
							{{ form_end(form) }}
						</div>


					</div>

				</div>
			</div>
		</div>
	</section>

{% endblock %}
