{% extends 'admin/base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}


	<div class="container py-5">
		<div class="row">

			{% include "_messages_flash.html.twig" %}

			<div class="col-12 d-flex align-items-center justify-content-between">
				<h3>Liste des catégories</h3>
				
				<a class="button" href="{{ path('admin/category_new') }}">Ajouter</a>
			</div>

			{% for category in categories %}
				<div class="col-sm-12 col-md-6 col-lg-3 d-flex align-items-center justify-content-between">

					<div class="card">
						<img src="{{ category.imagePath }}" alt="image_category" class="card-img-top imageCard">
						<div class="card-body">
							<h5 class="card-title">{{ category.name }}</h5>
							<a href="{{ path('admin/category_edit', {'id': category.id}) }}" class="btn btn-secondary w-100"><span class="btn-label"><i class="fad fa-tools"></i></span>Gérer</a>
						</div>
					</div>
				</div>

				<!--<a href="{{ path('admin/category_show', {'id': category.id}) }}">show</a>-->

			{% endfor %}

		</div>
	</div>
{% endblock %}
