<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
	<div class="container-fluid">
		<a class="navbar-brand text-success h1" href="{{ path('admin_home') }}">ADMIN</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="templatemo_main_nav">

			<ul class="navbar-nav mx-lg-12">
				<li class="nav-item">
					<a class="nav-link" href="{{ path("home")}}">Revenir au site</a>
				</li>

				<li class="nav-item">
					<a class="nav-link " href="{{ path('admin/category_index') }}">Catégorie</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ path('admin/product_index') }}">Produits</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('admin/admin_color_index') }}">Couleurs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('admin_user_list') }}">Utilisateurs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('admin_footer')}}">CGU</a>
				</li>
			</ul>
		</div>

		<a class="nav-link" aria-current='page' href="{{ path('admin_post_list') }}">Blog</a>
		<a class="nav-icon position-relative text-decoration-none" href="#">
			<i class="fa fa-fw fa-cart-arrow-down text-dark  me-2"></i>
			<span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>
		</a>
		<a class="nav-icon position-relative text-decoration-none" href="#">
			<i class="fa fa-fw fa-user text-dark mr-3"></i>
			<span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>
		</a>
	</div>
</nav>


<!-- {# Close Header
											
	
									#} -->
