{# <h1>Message pour le Contact</h1>
<p>Nom :{{ nom }}</p>
<p>Prénom :
	{{ prenom }}</p>
<p>Message :
	{{ message }}</p>
<p>Email :
	{{ email }}</p>#}

	<h1 style="margin-top: 100px; margin-bottom: 100px">Message pour le Contact</h1>
	
<p>Nom :{{ subjectMessage }}</p>

<p>Prénom :
	{{ contentMessage }}</p>

<p>Email :
{{ emailCustomer }}</p>

<p>message :{{ message }}</p>

